 @import url("3employment_styles.css"); 

html {
  padding-right: 200px;
  padding-left: 200px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgb(161, 231, 253);
}

body {
    display: -webkit-flex;
    display: flex;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
    background-color: rgb(145, 146, 208);
    color: black;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 10px;
}

body img {
    width: 15%;
    height: 30%;
}


header nav ul {
    width: 100%;
}

nav ul li {
    display: inline;	
    width: 100%;
    background-color: white;
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

a:link {
    color: rgb(255, 193, 121);
    text-decoration: none;
}

a:visited {
    text-decoration: none;
    color: rgb(255, 121, 121);
}

a:hover {
    text-decoration: underline;
}


section#sheet {
    -webkit-flex: 3 1 301px;
    flex: 3 1 301px;
}

footer{
        display: table;
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        color: rgb(255, 193, 121);
    }

/*phone*/

@media only screen and (max-width: 480px) {
   
    section#sheet img.panel {
        width: 100%;
    }
    
    nav.horizontal {
        -webkit-order: 99;
        order: 99;
    }
    
    footer{
        -webkit-order: 100;
        order: 100;
    }

}

/*tablet*/

@media only screen and (min-width: 481px) {
    
    nav.horizontal ul {
        display: -webkit-flex;
        display: flex;
        height: 40px;
    }
    
     nav.horizontal ul li {
        -webkit-flex: 1 1 auto;
        flex: 1 1 auto;
    }
    
}
